@import url(https://fonts.googleapis.com/css?family=Poppins:regular,500,600);
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  min-height: 100vh;
  font-size: 100%;
  line-height: 1;
  font-family: "Poppins";
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:focus, a:active {
  outline: none;
}

a:visited {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

.burger {
  position: relative;
  z-index: 100;
  width: 42px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.burger span, .burger span::before, .burger span::after {
  width: 100%;
  position: absolute;
  height: 2px;
  background: #bf3448;
  display: block;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border-radius: 5px;
}

.burger span {
  top: 0px;
}

.burger span::before {
  content: "";
  top: -8px;
  -webkit-transition: top 300ms 300ms, -webkit-transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: top 300ms 300ms, -webkit-transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: top 300ms 300ms, transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: top 300ms 300ms, transform 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.burger span:after {
  content: "";
  bottom: -8px;
  -webkit-transition: bottom 300ms 300ms, -webkit-transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: bottom 300ms 300ms, -webkit-transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: bottom 300ms 300ms, transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: bottom 300ms 300ms, transform 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.burger span.active {
  background: rgba(255, 255, 255, 0);
}

.burger span.active:before {
  content: "";
  top: 0px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: top 300ms, -webkit-transform 300ms 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: top 300ms, -webkit-transform 300ms 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: top 300ms, transform 300ms 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: top 300ms, transform 300ms 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55), -webkit-transform 300ms 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.burger span.active:after {
  content: "";
  bottom: 0;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transition: bottom 300ms, -webkit-transform 300ms 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: bottom 300ms, -webkit-transform 300ms 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: bottom 300ms, transform 300ms 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: bottom 300ms, transform 300ms 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55), -webkit-transform 300ms 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

/* --- PATTERNS --- */
.header__link, .main__tab {
  color: #030a1b;
  white-space: nowrap;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.header__link:hover, .main__tab:hover {
  color: #fe753f;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.header__link-button, .main__button,
.header__link-button a,
.main__button a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  white-space: nowrap;
  width: 150px;
  height: 55px;
  color: #ffffff;
  background-color: #2e6eff;
  border-radius: 5px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.header__link-button span, .main__button span,
.header__link-button a span,
.main__button a span {
  padding-left: 22px;
  background: url("../img/main/search.svg") left no-repeat;
}

.header__link-button:hover, .main__button:hover,
.header__link-button a:hover,
.main__button a:hover {
  cursor: pointer;
  color: #ffffff;
  background-color: #fe753f;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.main__title {
  font-weight: 600;
  font-size: 44px;
  line-height: 120%;
  color: #030a1b;
}

.main__option {
  font-size: 16px;
  line-height: 24px;
  color: #030a1b;
  opacity: 0.7;
}

/* ================ */
/* --- COMMON BLOCKS --- */
.container {
  max-width: 1150px;
  margin: 0px auto;
  padding: 0 20px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.ruby__content {
  overflow: hidden;
}

/* ================================ */
/* --- HEADER --- */
.header {
  position: relative;
  z-index: 100;
  padding: 35px 0px;
  background-color: #fff;
}

@media (max-width: 992px) {
  .header {
    position: fixed;
    width: 100%;
    padding: 5px 0px;
    -webkit-box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
            box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
  }
}

.header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.header__logo img {
  max-height: 100%;
}

@media (max-width: 992px) {
  .header__logo {
    height: 50px;
  }
}

.header__navigation {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
}

@media (max-width: 992px) {
  .header__navigation {
    position: fixed;
    z-index: 100;
    padding: 30px;
    left: 0;
    top: 60px;
    bottom: 0;
    width: 100%;
    max-width: 20rem;
    background: #fff;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    -webkit-box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14);
            box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14);
    border-top: 1px solid gray;
  }
  .header__navigation.active {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
}

.header__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 50px;
          column-gap: 50px;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 992px) {
  .header__links {
    color: #000;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: normal;
        -ms-flex-pack: normal;
            justify-content: normal;
    row-gap: 30px;
  }
}

.header__link-button span {
  background: url("../img/main/search.svg") left no-repeat;
}

@media (min-width: 992px) {
  .header__burger {
    display: none;
  }
}

/* --- MAIN --- */
.main {
  position: relative;
  padding: 40px 0 50px;
}

@media (max-width: 992px) {
  .main {
    padding: 100px 0 50px;
  }
}

.main__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 20px;
          column-gap: 20px;
}

@media (max-width: 900px) {
  .main__body {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-column-gap: 0;
            column-gap: 0;
  }
}

@media (max-width: 768px) {
  .main__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.main__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  padding-top: 45px;
}

@media (max-width: 900px) {
  .main__content {
    padding-right: 10px;
  }
}

@media (max-width: 768px) {
  .main__content {
    padding: 0;
  }
}

.main__title {
  font-size: 61px;
  max-width: 560px;
  margin-bottom: 30px;
}

@media (max-width: 992px) {
  .main__title {
    font-size: 50px;
  }
}

@media (max-width: 768px) {
  .main__title {
    max-width: none;
  }
}

@media (max-width: 480px) {
  .main__title {
    font-size: 40px;
  }
}

.main__text {
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  color: #030a1b;
  opacity: 0.7;
}

@media (max-width: 768px) {
  .main__text {
    margin-bottom: 20px;
  }
}

.main__picture {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  text-align: right;
}

.main__picture img {
  max-width: 100%;
}

@media (max-width: 768px) {
  .main__picture {
    text-align: center;
    margin-bottom: 30px;
  }
}

.main__search {
  position: absolute;
  bottom: 10%;
  z-index: 10;
  border-radius: 5px;
}

@media (max-width: 900px) {
  .main__search {
    position: static;
  }
}

.main__tabs {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 15px 30px;
  -webkit-column-gap: 45px;
          column-gap: 45px;
  -webkit-box-shadow: 0px -10px 100px rgba(0, 0, 0, 0.1);
          box-shadow: 0px -10px 100px rgba(0, 0, 0, 0.1);
  border-radius: 10px 10px 0px 10px;
}

@media (max-width: 768px) {
  .main__tabs {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border-radius: 10px 10px 0px 0px;
    -webkit-box-shadow: none;
            box-shadow: none;
    background: #ffffff;
    border: 1px solid #bf3448;
  }
}

.main__tab {
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: #030a1b;
  opacity: 0.7;
}

.main__options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 30px 0px;
  background: #ffffff;
  -webkit-box-shadow: 0px 10px 100px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 10px 100px rgba(0, 0, 0, 0.1);
  border-radius: 0px 10px 10px 10px;
}

@media (max-width: 900px) {
  .main__options {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (max-width: 768px) {
  .main__options {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    row-gap: 15px;
    border-radius: 0px 0px 10px 10px;
    border: 1px solid #bf3448;
    border-top: none;
  }
}

.main__item {
  padding: 0px 65px;
}

.main__item:first-child {
  padding-left: 30px;
}

.main__item:last-child {
  padding-right: 30px;
}

@media (max-width: 900px) {
  .main__item {
    padding: 0 40px;
  }
}

@media (max-width: 768px) {
  .main__item {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    width: 150px;
  }
  .main__item, .main__item:first-child, .main__item:last-child {
    padding: 0;
  }
}

.main__option {
  white-space: nowrap;
}

.main__list {
  padding-right: 20px;
  font-weight: 500;
  font-size: 22px;
  line-height: 33px;
  color: #030a1b;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: url("../img/main/arrow.svg") right no-repeat;
}
