@import url(https://fonts.googleapis.com/css?family=Poppins:regular,500,600);
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  min-height: 100vh;
  font-size: 100%;
  line-height: 1;
  font-family: "Poppins";
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a {
  display: inline-block;
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:focus, a:active {
  outline: none;
}

a:visited {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

.burger {
  position: relative;
  z-index: 100;
  width: 42px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.burger span, .burger span::before, .burger span::after {
  width: 100%;
  position: absolute;
  height: 2px;
  background: #bf3448;
  display: block;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border-radius: 5px;
}

.burger span {
  top: 0px;
}

.burger span::before {
  content: "";
  top: -8px;
  -webkit-transition: top 300ms 300ms, -webkit-transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: top 300ms 300ms, -webkit-transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: top 300ms 300ms, transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: top 300ms 300ms, transform 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.burger span:after {
  content: "";
  bottom: -8px;
  -webkit-transition: bottom 300ms 300ms, -webkit-transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: bottom 300ms 300ms, -webkit-transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: bottom 300ms 300ms, transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: bottom 300ms 300ms, transform 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.burger span.active {
  background: rgba(255, 255, 255, 0);
}

.burger span.active:before {
  content: "";
  top: 0px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: top 300ms, -webkit-transform 300ms 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: top 300ms, -webkit-transform 300ms 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: top 300ms, transform 300ms 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: top 300ms, transform 300ms 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55), -webkit-transform 300ms 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.burger span.active:after {
  content: "";
  bottom: 0;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transition: bottom 300ms, -webkit-transform 300ms 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: bottom 300ms, -webkit-transform 300ms 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: bottom 300ms, transform 300ms 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: bottom 300ms, transform 300ms 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55), -webkit-transform 300ms 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

/* --- PATTERNS --- */
.header__link, .main__tab {
  color: #030a1b;
  white-space: nowrap;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.header__link:hover, .main__tab:hover {
  color: #fe753f;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.header__link-button, .main__button, .home__button, .subscribe__button,
.header__link-button a,
.main__button a,
.home__button a,
.subscribe__button a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  white-space: nowrap;
  width: 150px;
  height: 55px;
  color: #ffffff;
  background-color: #2e6eff;
  border-radius: 5px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.header__link-button span, .main__button span, .home__button span, .subscribe__button span,
.header__link-button a span,
.main__button a span,
.home__button a span,
.subscribe__button a span {
  padding-left: 22px;
  background: url("../img/main/search.svg") left no-repeat;
}

.header__link-button:hover, .main__button:hover, .home__button:hover, .subscribe__button:hover,
.header__link-button a:hover,
.main__button a:hover,
.home__button a:hover,
.subscribe__button a:hover {
  cursor: pointer;
  color: #ffffff;
  background-color: #fe753f;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.main__title, .partners__title, .catalog__title, .home__label, .featured__title, .feedback__title, .footer__title {
  font-weight: 600;
  font-size: 44px;
  line-height: 120%;
  color: #030a1b;
}

@media (max-width: 480px) {
  .main__title, .partners__title, .catalog__title, .home__label, .featured__title, .feedback__title, .footer__title {
    font-size: 40px;
  }
}

.main__option, .main__list > option, .home__location, .featured__subtitle, .property__text, .feedback__subtitle, .customer__position, .customer__feedback, .subscribe__subtitle, .footer__text, .footer__link {
  font-size: 16px;
  line-height: 24px;
  color: #030a1b;
  opacity: 0.7;
}

@-webkit-keyframes link {
  0% {
    -webkit-box-shadow: #fe753f 0 0 0;
            box-shadow: #fe753f 0 0 0;
  }
  70% {
    -webkit-box-shadow: #fe753f00 0 0 0 10px;
            box-shadow: #fe753f00 0 0 0 10px;
  }
}

@keyframes link {
  0% {
    -webkit-box-shadow: #fe753f 0 0 0;
            box-shadow: #fe753f 0 0 0;
  }
  70% {
    -webkit-box-shadow: #fe753f00 0 0 0 10px;
            box-shadow: #fe753f00 0 0 0 10px;
  }
}

/* ================ */
/* --- COMMON BLOCKS --- */
.container {
  max-width: 1150px;
  margin: 0px auto;
  padding: 0 20px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.ruby__content {
  overflow: hidden;
}

/* ================================ */
/* --- HEADER --- */
.header {
  position: relative;
  z-index: 100;
  padding: 35px 0px;
  background-color: #fff;
}

@media (max-width: 992px) {
  .header {
    position: fixed;
    width: 100%;
    padding: 5px 0px;
    -webkit-box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
            box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
  }
}

.header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.header__logo img {
  max-height: 100%;
}

@media (max-width: 992px) {
  .header__logo {
    height: 50px;
  }
}

.header__navigation {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
}

@media (max-width: 992px) {
  .header__navigation {
    position: fixed;
    z-index: 100;
    padding: 30px;
    left: 0;
    top: 60px;
    bottom: 0;
    width: 100%;
    max-width: 20rem;
    background: #fff;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    -webkit-box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14);
            box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14);
    border-top: 1px solid gray;
  }
  .header__navigation.active {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
}

.header__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 50px;
          column-gap: 50px;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 992px) {
  .header__links {
    color: #000;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: normal;
        -ms-flex-pack: normal;
            justify-content: normal;
    row-gap: 30px;
  }
}

@media (max-width: 992px) {
  .header__link:not(:last-child) {
    font-size: 20px;
  }
}

.header__link-button span {
  background: url("../img/main/search.svg") left no-repeat;
}

@media (min-width: 992px) {
  .header__burger {
    display: none;
  }
}

/* --- MAIN --- */
.main {
  position: relative;
  padding: 40px 0 50px;
}

@media (max-width: 992px) {
  .main {
    padding: 100px 0 50px;
  }
}

@media (max-width: 768px) {
  .main {
    padding-bottom: 40px;
  }
}

.main__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 20px;
          column-gap: 20px;
}

@media (max-width: 900px) {
  .main__body {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-column-gap: 0;
            column-gap: 0;
  }
}

@media (max-width: 768px) {
  .main__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.main__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  padding-top: 45px;
}

@media (max-width: 1100px) {
  .main__content {
    padding-top: 0;
  }
}

@media (max-width: 900px) {
  .main__content {
    padding: 45px 10px 0 0;
  }
}

@media (max-width: 768px) {
  .main__content {
    padding: 0;
  }
}

.main__title {
  font-size: 61px;
  max-width: 560px;
  margin-bottom: 30px;
}

@media (max-width: 992px) {
  .main__title {
    font-size: 50px;
  }
}

@media (max-width: 768px) {
  .main__title {
    max-width: none;
  }
}

@media (max-width: 480px) {
  .main__title {
    font-size: 40px;
  }
}

.main__text {
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  color: #030a1b;
  opacity: 0.7;
}

@media (max-width: 768px) {
  .main__text {
    margin-bottom: 20px;
  }
}

.main__picture {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  text-align: right;
}

.main__picture img {
  max-width: 100%;
}

@media (max-width: 768px) {
  .main__picture {
    text-align: center;
    margin-bottom: 30px;
  }
}

.main__search {
  position: absolute;
  bottom: 10%;
  z-index: 10;
  border-radius: 5px;
}

@media (max-width: 900px) {
  .main__search {
    position: static;
  }
}

.main__tabs {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 15px 30px;
  -webkit-column-gap: 45px;
          column-gap: 45px;
  border: 1px solid #e9e7e7;
  /* border-bottom: none; */
  border-radius: 10px 10px 0px 0px;
  position: relative;
}

.main__tabs::before {
  content: "";
  position: absolute;
  height: 10px;
  background-color: #fff;
  width: 100%;
  bottom: 0;
  left: 0;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
}

@media (max-width: 768px) {
  .main__tabs::before {
    display: none;
  }
}

@media (max-width: 768px) {
  .main__tabs {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border-radius: 10px 10px 0px 0px;
    -webkit-box-shadow: none;
            box-shadow: none;
    background: #ffffff;
    border-bottom: 1px solid #e9e7e7;
    -webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1);
            box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1);
  }
}

.main__tab {
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: #030a1b;
  opacity: 0.7;
}

.main__tab.active a {
  font-weight: 600;
}

.main__tab.active a:hover {
  color: #030a1b;
}

.main__options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 30px 0px;
  background: #ffffff;
  -webkit-box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.1);
  border: 1px solid #e9e7e7;
  /*   */
  border-radius: -0px 10px 10px 10px;
}

@media (max-width: 900px) {
  .main__options {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (max-width: 768px) {
  .main__options {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    row-gap: 15px;
    border-radius: 0px 0px 10px 10px;
    border: 1px solid #e9e7e7;
    border-top: none;
  }
}

.main__item {
  padding: 0px 65px;
  position: relative;
}

.main__item:first-child {
  padding-left: 30px;
}

.main__item:last-child {
  padding-right: 30px;
}

.main__item:not(:last-child)::before {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
  width: 1px;
  height: 34px;
  background-color: #030a1b;
  opacity: 0.1;
}

@media (max-width: 768px) {
  .main__item:not(:last-child)::before {
    display: none;
  }
}

@media (max-width: 900px) {
  .main__item {
    padding: 0 40px;
  }
}

@media (max-width: 768px) {
  .main__item {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    width: 150px;
  }
  .main__item, .main__item:first-child, .main__item:last-child {
    padding: 0;
  }
}

.main__option {
  white-space: nowrap;
}

.main__list {
  padding-right: 20px;
  font-weight: 500;
  font-size: 22px;
  line-height: 33px;
  color: #030a1b;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: url("../img/main/arrow.svg") right no-repeat;
}

.main__list:hover {
  cursor: pointer;
}

/* --- PARTNERS --- */
.partners {
  padding: 50px 0px;
}

@media (max-width: 768px) {
  .partners {
    padding: 40px 0px;
  }
}

.partners__title {
  text-align: center;
  margin-bottom: 66px;
  /* @media (max-width: 480px) {
                margin-bottom: 50px;
            } */
}

@media (max-width: 992px) {
  .partners__title {
    margin-bottom: 50px;
  }
}

@media (max-width: 480px) {
  .partners__title {
    margin-bottom: 30px;
  }
}

.partners__labels {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 20px;
}

@media (max-width: 480px) {
  .partners__labels {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.partners__item {
  padding: 0 30px;
}

/* --- CATALOG --- */
.catalog {
  padding: 40px 0 100px 0;
}

@media (max-width: 768px) {
  .catalog {
    padding: 40px 0px 50px 0px;
  }
}

.catalog__title {
  margin-bottom: 70px;
}

@media (max-width: 992px) {
  .catalog__title {
    margin-bottom: 50px;
  }
}

@media (max-width: 480px) {
  .catalog__title {
    margin-bottom: 30px;
  }
}

.catalog .slick-slider {
  min-width: 0;
}

.catalog .slick-list {
  overflow: hidden;
}

.catalog .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  overflow: hidden;
  -webkit-column-gap: 20px;
          column-gap: 20px;
}

@media (max-width: 550px) {
  .catalog .slick-track {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.catalog .slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 20px;
}

.catalog .slick-dots li {
  list-style: none;
  margin: 0px 10px;
}

.catalog .slick-dots button {
  font-size: 0;
  width: 10px;
  height: 10px;
  background-color: #2e6eff;
  border-radius: 50%;
}

.catalog .slick-dots li.slick-active button {
  background-color: #fe753f;
}

.home {
  background: #ffffff;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.07);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.07);
  border-radius: 10px;
  max-width: 365px;
  margin: 15px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 550px) {
  .home {
    max-width: none;
  }
}

.home__preview {
  margin-bottom: 30px;
}

.home__preview img {
  width: 100%;
}

.home__content {
  padding: 0 30px 30px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.home__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
}

.home__label {
  font-size: 22px;
  position: relative;
}

.home__label::before {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 16px;
  height: 14px;
}

.home__icon {
  color: #bbbbbb;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.home__icon:hover {
  color: #e61e14;
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  cursor: pointer;
}

.home__location {
  padding-left: 23px;
  margin-bottom: 20px;
  background: url("../img/catalog/location.svg") left center no-repeat;
}

.home__facilities {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 20px;
          column-gap: 20px;
  margin-bottom: 20px;
}

.home__comfort {
  padding-left: 20px;
}

.home__comfort:first-child {
  background: url("../img/catalog/bed.svg") left center no-repeat;
}

.home__comfort:nth-last-child(2) {
  background: url("../img/catalog/cafe.svg") left center no-repeat;
}

.home__comfort:last-child {
  background: url("../img/catalog/restroom.svg") left center no-repeat;
}

.home__actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 15px;
}

.home__price {
  font-weight: 600;
  font-size: 22px;
  color: #fe753f;
}

/* --- FEATURED --- */
.featured {
  padding: 70px 0px;
  background: #f9f9f9;
}

@media (max-width: 768px) {
  .featured {
    padding: 40px 0px;
  }
}

.featured__title {
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 10px;
}

.featured__subtitle {
  text-align: center;
  max-width: 730px;
  margin: 0 auto;
  margin-bottom: 70px;
}

@media (max-width: 768px) {
  .featured__subtitle {
    margin-bottom: 40px;
  }
}

.featured__body {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  gap: 33px;
}

@media (max-width: 992px) {
  .featured__body {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 620px) {
  .featured__body {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    row-gap: 30px;
    -webkit-column-gap: 0px;
            column-gap: 0px;
  }
}

.featured__properties {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
}

@media (max-width: 992px) {
  .featured__properties:nth-child(1) {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / span 1;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .featured__properties:nth-child(2) {
    margin: 0px auto;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / span 2;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  .featured__properties:nth-child(3) {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / span 1;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

@media (max-width: 620px) {
  .featured__properties:nth-child(3) {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / span 2;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

.featured__properties-img img {
  border-radius: 10px;
  max-width: 100%;
}

.property {
  background-color: #fff;
  padding: 25px;
  border-radius: 10px;
}

.property__icon {
  margin-bottom: 15px;
}

.property__title {
  font-weight: 600;
  font-size: 22px;
  line-height: 33px;
  margin-bottom: 10px;
}

/* --- FEEDBACK --- */
.feedback {
  padding: 70px 0px;
}

@media (max-width: 768px) {
  .feedback {
    padding: 40px 0px;
  }
}

.feedback__subtitle {
  font-weight: 600;
  color: #fe753f;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 10px;
}

.feedback__title {
  text-align: center;
  margin-bottom: 70px;
}

.feedback__slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 15px;
}

@media (max-width: 768px) {
  .feedback__slide {
    padding: 0;
  }
}

.feedback .slick-slider {
  min-width: 0;
}

.feedback .slick-list {
  overflow: hidden;
}

.feedback .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  overflow: hidden;
}

.feedback .slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 20px;
}

.feedback .slick-dots li {
  list-style: none;
  margin: 0px 10px;
}

.feedback .slick-dots button {
  font-size: 0;
  width: 10px;
  height: 10px;
  background-color: #2e6eff;
  border-radius: 50%;
}

.feedback .slick-dots li.slick-active button {
  background-color: #fe753f;
}

.customer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  padding: 30px;
  background: #ffffff;
  border: 2px solid rgba(254, 117, 63, 0.1);
  border-radius: 10px;
}

@media (max-width: 480px) {
  .customer {
    padding: 20px;
  }
}

.customer::before {
  content: "";
  position: absolute;
  right: 30px;
  top: 30px;
  width: 64px;
  height: 64px;
  background: url("../img/feedback/quotes.svg") center no-repeat;
}

.customer__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 30px;
          column-gap: 30px;
  margin-bottom: 30px;
}

@media (max-width: 480px) {
  .customer__head {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 15px;
  }
}

.customer__avatar {
  width: 74px;
  height: 74px;
  border-radius: 50%;
}

.customer__avatar img {
  border-radius: 50%;
  width: 74px;
  height: 74px;
}

.customer__info {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: 5px 0px;
}

.customer__name {
  font-weight: 600;
  font-size: 22px;
  line-height: calc(32 / 22 * 100%);
  margin-bottom: 5px;
}

.customer__position {
  white-space: nowrap;
}

.customer__feedback {
  white-space: break-word;
}

/* --- SUBSCRIBE --- */
.subscribe {
  padding: 70px 0;
}

@media (max-width: 768px) {
  .subscribe {
    padding: 40px 0;
  }
}

.subscribe__body {
  padding: 70px 20px 70px;
  background-color: #433E89;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

@media (max-width: 768px) {
  .subscribe__body {
    padding: 40px 20px 40px;
  }
}

.subscribe__body::before, .subscribe__body::after {
  content: "";
  position: absolute;
  border-radius: 50%;
  width: 208px;
  height: 208px;
  background-color: #fff;
  opacity: 0.1;
}

.subscribe__body::before {
  top: 4%;
  left: -12%;
}

.subscribe__body::after {
  right: 2%;
  bottom: -35%;
}

.subscribe__title {
  color: #ffffff;
  font-weight: 500;
  font-size: 44px;
  line-height: 137%;
  margin-bottom: 15px;
  text-align: center;
}

@media (max-width: 992px) {
  .subscribe__title {
    font-size: 40px;
  }
}

.subscribe__subtitle {
  max-width: 635px;
  color: #ffffff;
  text-align: center;
  margin-bottom: 70px;
}

@media (max-width: 480px) {
  .subscribe__subtitle {
    margin-bottom: 30px;
  }
}

.subscribe__form {
  width: 100%;
  max-width: 745px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 10px;
  position: relative;
}

@media (max-width: 768px) {
  .subscribe__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    border-radius: 10px 10px 0px 0px;
  }
}

.subscribe__input {
  border-radius: 10px;
  width: 100%;
  height: 70px;
  padding: 0 30px;
  font-weight: 14;
  font-size: 16px;
  line-height: calc(24 / 16 * 100%);
  background-color: #fff;
}

@media (max-width: 768px) {
  .subscribe__input {
    padding: 0 20px;
    border-radius: 10px 10px 0px 0px;
    height: 55px;
  }
}

.subscribe__button {
  position: absolute;
  right: 7px;
}

@media (max-width: 768px) {
  .subscribe__button {
    position: static;
    width: 100%;
    border-radius: 0px 0px 10px 10px;
  }
}

/* --- FOOTER --- */
.footer {
  padding: 70px 0;
}

@media (max-width: 768px) {
  .footer {
    padding: 20px 0 80px 0;
  }
}

.footer__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 180px;
          column-gap: 180px;
}

@media (max-width: 992px) {
  .footer__body {
    -webkit-column-gap: 60px;
            column-gap: 60px;
  }
}

@media (max-width: 768px) {
  .footer__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 30px;
  }
}

.footer__contacts {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 270px;
          flex: 0 1 270px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media (max-width: 768px) {
  .footer__contacts {
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.footer__logo {
  display: inline-block;
}

.footer__logo img {
  width: 100%;
  height: 57px;
}

.footer__content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.footer__text {
  margin-bottom: 13px;
  opacity: 0.7;
}

@media (max-width: 768px) {
  .footer__text {
    text-align: center;
  }
}

.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 15px;
          column-gap: 15px;
}

@media (max-width: 768px) {
  .footer__social {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.footer__sosial-link a {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  background-color: #fe753f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-animation: link 2s ease-in-out infinite;
          animation: link 2s ease-in-out infinite;
}

.footer__navigation {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 15px;
          column-gap: 15px;
}

@media (max-width: 768px) {
  .footer__navigation {
    -webkit-box-pack: inherit;
        -ms-flex-pack: inherit;
            justify-content: inherit;
  }
}

@media (max-width: 480px) {
  .footer__navigation {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    row-gap: 30px;
  }
}

.footer__title {
  font-size: 22px;
  line-height: calc(33 / 22 * 100%);
  margin-bottom: 25px;
}

@media (max-width: 768px) {
  .footer__title {
    margin-bottom: 15px;
  }
}

.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 15px;
}

.footer__link {
  font-weight: 500;
  white-space: nowrap;
  -webkit-transform: translateX(-0.75em);
          transform: translateX(-0.75em);
  -webkit-transition: -webkit-transform 200ms;
  transition: -webkit-transform 200ms;
  transition: transform 200ms;
  transition: transform 200ms, -webkit-transform 200ms;
}

.footer__link:hover {
  -webkit-transform: none;
          transform: none;
}

.footer__link:hover::before {
  opacity: 1;
}

.footer__link::before {
  content: "";
  display: inline-block;
  width: 0.75em;
  color: #888;
  opacity: 0;
  -webkit-transition: opacity 200ms;
  transition: opacity 200ms;
}
