@import "variables.scss";

.burger {
    position: relative;
    width: 42px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    span, span::before, span::after {
        width: 100%;
        position: absolute;
        height: 2px;
        background: $burgerColor;
        display: block;
        transition: 0.3s;
        border-radius: 5px;
    }
    span {
        top: 0px;
    }
    span::before {
        content: "";
        top: -8px;
        transition: top 300ms 300ms, transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
    }
    span:after {
        content: "";
        bottom: -8px;
        transition: bottom 300ms 300ms, transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
    }
    span.active {
        background: rgba(255, 255, 255, 0);
    }
    span.active:before {
        content: "";
        top: 0px;
        transform: rotate(45deg);
        transition: top 300ms, transform 300ms 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
    span.active:after {
        content: "";
        bottom: 0;
        transform: rotate(-45deg);
        transition: bottom 300ms, transform 300ms 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
}