@import "nullstyle.scss";
@import "burger.scss";
@import "variables.scss";

/* --- PATTERNS --- */
%link {
    color: $textColor;
    white-space: nowrap;
    transition: all 0.3s ease;
    &:hover {
        color: $hoverColor;
        transition: all 0.3s ease;
    }
}

%button {
    &,
    a {
        display: flex;
        justify-content: center;
        align-items: center;
        white-space: nowrap;
        width: 150px;
        height: 55px;
        color: $buttonTextColor;
        background-color: $buttonBackgroundColor;
        border-radius: 5px;
        transition: all 0.3s ease;
        span {
            padding-left: 22px;
            background: url("../img/main/search.svg") left no-repeat;
        }
        &:hover {
            cursor: pointer;
            color: $buttonTextColor;
            background-color: $hoverColor;
            transition: all 0.3s ease;
        }
    }
}

%title {
    font-weight: 600;
    font-size: 44px;
    line-height: 120%;
    color: $textColor;

    @media (max-width: 480px) {
        font-size: 40px;
    }
}

%text {
    font-size: 16px;
    line-height: 24px;
    color: $textColor;
    opacity: 0.7;
}
/* ================ */

/* --- COMMON BLOCKS --- */
.container {
    max-width: 1150px;
    margin: 0px auto;
    padding: 0 20px;
    box-sizing: content-box;
}
.ruby {
    &__content {
        overflow: hidden;
    }

    &__main {
    }

    &__partners {
    }
}
/* ================================ */

/* --- HEADER --- */
.header {
    position: relative;
    z-index: 100;
    padding: 35px 0px;
    background-color: #fff;
    @media (max-width: 992px) {
        position: fixed;
        width: 100%;
        padding: 5px 0px;
        box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
    }

    &__content {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__logo {
        flex: 0 0 auto;
        img {
            max-height: 100%;
        }
        @media (max-width: 992px) {
            height: 50px;
        }
    }

    &__navigation {
        flex: 0 1 auto;
        @media (max-width: 992px) {
            position: fixed;
            z-index: 100;
            padding: 30px;
            left: 0;
            top: 60px;
            bottom: 0;
            width: 100%;
            max-width: 20rem;
            background: #fff;
            transform: translateX(-100%);
            transition: all 0.3s ease 0s;
            box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14);
            border-top: 1px solid gray;
            &.active {
                transform: translateX(-0%);
                transition: all 0.3s ease 0s;
            }
        }
    }

    &__links {
        display: flex;
        column-gap: 50px;
        flex-wrap: nowrap;
        align-items: center;
        @media (max-width: 992px) {
            color: #000;
            flex-direction: column;
            align-items: flex-start;
            justify-content: normal;
            row-gap: 30px;
        }
    }

    &__link {
        @extend %link;
    }

    &__link-button {
        @extend %button;
        span {
            background: url("../img/main/search.svg") left no-repeat;
        }
    }

    &__burger {
        @media (min-width: 992px) {
            display: none;
        }
    }
}

/* --- MAIN --- */
.main {
    position: relative;
    padding: 40px 0 50px;

    @media (max-width: 992px) {
        padding: 100px 0 50px;
    }

    &__body {
        display: flex;
        column-gap: 20px;
        @media (max-width: 900px) {
            flex-wrap: wrap;
            column-gap: 0;
        }
        @media (max-width: 768px) {
            flex-direction: column;
        }
    }

    &__content {
        flex: 0 1 50%;
        padding-top: 45px;

        @media (max-width: 900px) {
            padding-right: 10px;
        }
        @media (max-width: 768px) {
            padding: 0;
        }
    }

    &__title {
        @extend %title;
        font-size: 61px;
        max-width: 560px;
        margin-bottom: 30px;

        @media (max-width: 992px) {
            font-size: 50px;
        }
        @media (max-width: 768px) {
            max-width: none;
        }
        @media (max-width: 480px) {
            font-size: 40px;
        }
    }

    &__text {
        font-weight: 500;
        font-size: 18px;
        line-height: 150%;
        color: $textColor;
        opacity: 0.7;

        @media (max-width: 768px) {
            margin-bottom: 20px;
        }
    }

    &__picture {
        flex: 0 1 50%;
        text-align: right;
        img {
            max-width: 100%;
        }

        @media (max-width: 768px) {
            text-align: center;
            margin-bottom: 30px;
        }
    }

    &__search {
        position: absolute;
        bottom: 10%;
        z-index: 10;
        border-radius: 5px;
        @media (max-width: 900px) {
            position: static;
        }
    }

    &__tabs {
        display: inline-flex;
        padding: 15px 30px;
        column-gap: 45px;
        box-shadow: 0px -10px 100px rgba(0, 0, 0, 0.1);
        border-radius: 10px 10px 0px 10px;

        @media (max-width: 768px) {
            width: 100%;
            justify-content: center;
            border-radius: 10px 10px 0px 0px;
            box-shadow: none;
            background: #ffffff;
            border: 1px solid $rubyColor;
        }
    }

    &__tab {
        @extend %link;
        font-weight: 500;
        font-size: 18px;
        line-height: 27px;
        color: $textColor;
        opacity: 0.7;
    }

    &__options {
        display: flex;
        padding: 30px 0px;
        background: #ffffff;
        box-shadow: 0px 10px 100px rgba(0, 0, 0, 0.1);
        border-radius: 0px 10px 10px 10px;

        @media (max-width: 900px) {
            justify-content: space-between;
        }
        @media (max-width: 768px) {
            flex-direction: column;
            align-items: center;
            row-gap: 15px;
            border-radius: 0px 0px 10px 10px;
            border: 1px solid $rubyColor;
            border-top: none;
        }
    }

    &__item {
        padding: 0px 65px;
        &:first-child {
            padding-left: 30px;
        }
        &:last-child {
            padding-right: 30px;
        }
        @media (max-width: 900px) {
            padding: 0 40px;
        }
        @media (max-width: 768px) {
            flex: 1 1 auto;
            width: 150px;
            &,
            &:first-child,
            &:last-child {
                padding: 0;
            }
        }
    }

    &__option {
        @extend %text;
        white-space: nowrap;
    }

    &__list {
        padding-right: 20px;
        font-weight: 500;
        font-size: 22px;
        line-height: 33px;
        color: $textColor;
        user-select: none;
        appearance: none;
        background: url("../img/main/arrow.svg") right no-repeat;
    }

    &__button {
        @extend %button;
    }
}

/* --- PARTNERS --- */
.partners {
    padding: 50px 0 70px 0;

    @media (max-width: 768px) {
        padding: 50px 0;
    }

    &__title {
        @extend %title;
        text-align: center;
        margin-bottom: 66px;

        @media (max-width: 480px) {
        margin-bottom: 50px;    
        }
    }

    &__labels {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        row-gap: 20px;

        @media (max-width: 480px) {
            flex-direction: column;
        }
    }

    &__item {
        padding: 0 30px;
    }
}