@import "nullstyle.scss";
@import "burger.scss";
@import "variables.scss";

/* --- PATTERNS --- */
%link {
    color: $textColor;
    white-space: nowrap;
    transition: all 0.3s ease;
    &:hover {
        color: $hoverColor;
        transition: all 0.3s ease;
    }
}

%button {
    &,
    a {
        display: flex;
        justify-content: center;
        align-items: center;
        white-space: nowrap;
        width: 150px;
        height: 55px;
        color: $buttonTextColor;
        background-color: $buttonBackgroundColor;
        border-radius: 5px;
        transition: all 0.3s ease;
        font-weight: 500;
        font-size: 16px;
        line-height: calc(24 / 16 * 100%);
        span {
            padding-left: 22px;
            background: url("../img/main/search.svg") left no-repeat;
        }
        &:hover {
            cursor: pointer;
            color: $buttonTextColor;
            background-color: $hoverColor;
            transition: all 0.3s ease;
        }
    }
}

%title {
    font-weight: 600;
    font-size: 44px;
    line-height: 120%;
    color: $textColor;

    @media (max-width: 480px) {
        font-size: 40px;
    }
}

%text {
    font-size: 16px;
    line-height: 24px;
    color: $textColor;
    opacity: 0.7;
}

%sectionPaddingDefault {
    padding: 70px 0;

    @media (max-width: 768px) {
        padding: 40px 0;
    }
}

@keyframes link {
    0% {
        box-shadow: $hoverColor 0 0 0;
    }
    70% {
        box-shadow: $hoverColor2 0 0 0 10px;
    }
}
/* ================ */

/* --- COMMON BLOCKS --- */

.container {
    max-width: 1150px;
    margin: 0px auto;
    padding: 0 20px;
    box-sizing: content-box;
}

.ruby {
    &__content {
        overflow: hidden;
    }

    &__main {
    }

    &__partners {
    }

    &__catalog {
    }

    &__featured {
    }

    &__feedback {
    }

    &__subscribe {
    }
}
/* ================================ */

/* --- HEADER --- */
.header {
    position: relative;
    z-index: 100;
    padding: 35px 0px;
    background-color: #fff;

    @media (max-width: 992px) {
        position: fixed;
        width: 100%;
        padding: 5px 0px;
        border-bottom: 1px solid $borderColor;
    }

    &__content {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__logo {
        flex: 0 0 auto;
        img {
            max-height: 100%;
        }

        @media (max-width: 992px) {
            height: 50px;
        }
    }

    &__navigation {
        flex: 0 1 auto;

        @media (max-width: 992px) {
            position: fixed;
            z-index: 100;
            padding: 30px;
            left: 0;
            top: 60px;
            bottom: 0;
            width: 100%;
            background: #fff;
            transform: translateX(-100%);
            display: flex;
            justify-content: center;
            align-items: center;
            transition: all 0.3s ease 0s;
            border-top: 1px solid $borderColor;
            &.active {
                transform: translateX(-0%);
                transition: all 0.3s ease 0s;
            }
        }
    }

    &__links {
        display: flex;
        column-gap: 50px;
        flex-wrap: nowrap;
        align-items: center;

        @media (max-width: 992px) {
            color: #000;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            row-gap: 50px;
        }
    }

    &__link {
        @extend %link;

        @media (max-width: 992px) {
            &:not(:last-child) {
                font-size: 20px;
            }
        }
    }

    &__link-button {
        @extend %button;
        span {
            background: url("../img/main/search.svg") left no-repeat;
        }
    }

    &__burger {
        width: 32px;

        @media (min-width: 992px) {
            display: none;
        }
    }
}

/* --- MAIN --- */
.main {
    position: relative;
    padding: 40px 0 50px;

    @media (max-width: 992px) {
        padding: 100px 0 50px;
    }
    @media (max-width: 768px) {
        padding-bottom: 40px;
    }

    &__body {
        display: flex;
        column-gap: 20px;

        @media (max-width: 900px) {
            flex-wrap: wrap;
            column-gap: 0;
        }
        @media (max-width: 768px) {
            flex-direction: column;
        }
    }

    &__content {
        flex: 0 1 50%;
        padding-top: 45px;

        @media (max-width: 1100px) {
            padding-top: 0;
        }
        @media (max-width: 900px) {
            padding: 45px 10px 0 0;
        }
        @media (max-width: 768px) {
            padding: 0;
        }
    }

    &__title {
        @extend %title;
        font-size: 61px;
        max-width: 560px;
        margin-bottom: 30px;

        @media (max-width: 992px) {
            font-size: 50px;
        }
        @media (max-width: 768px) {
            max-width: none;
        }
        @media (max-width: 480px) {
            font-size: 40px;
        }
    }

    &__text {
        font-weight: 500;
        font-size: 18px;
        line-height: 150%;
        color: $textColor;
        opacity: 0.7;

        @media (max-width: 768px) {
            margin-bottom: 20px;
        }
    }

    &__picture {
        flex: 0 1 50%;
        text-align: right;
        img {
            max-width: 100%;
        }

        @media (max-width: 768px) {
            text-align: center;
            margin-bottom: 30px;
        }
    }

    &__search {
        position: absolute;
        bottom: 10%;
        z-index: 10;
        border-radius: 5px;
        @media (max-width: 900px) {
            position: static;
        }
    }

    &__tabs {
        display: inline-flex;
        padding: 15px 30px;
        column-gap: 45px;
        border: 1px solid $borderColor;
        border-radius: 10px 10px 0px 0px;
        position: relative;
        user-select: none;

        &::before {
            content: "";
            position: absolute;
            height: 10px;
            background-color: #fff;
            width: 100%;
            bottom: 0;
            left: 0;
            transform: translateY(50%);

            @media (max-width: 768px) {
                display: none;
            }
        }

        @media (max-width: 768px) {
            width: 100%;
            justify-content: center;
            border-radius: 10px 10px 0px 0px;
            box-shadow: none;
            background: #ffffff;
            border-bottom: 1px solid $borderColor;
            box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1);
        }
    }

    &__tab {
        @extend %link;
        font-weight: 500;
        font-size: 18px;
        line-height: 27px;
        color: $textColor;
        opacity: 0.7;
        &.active a {
            font-weight: 700;
            &:hover {
                color: $textColor;
            }
        }
    }

    &__options {
        display: flex;
        padding: 30px 0px;
        background: #ffffff;
        box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.1);
        border: 1px solid $borderColor;
        border-radius: -0px 10px 10px 10px;

        @media (max-width: 900px) {
            justify-content: space-between;
        }
        @media (max-width: 768px) {
            flex-direction: column;
            align-items: center;
            row-gap: 15px;
            border-radius: 0px 0px 10px 10px;
            border: 1px solid $borderColor;
            border-top: none;
        }
    }

    &__item {
        padding: 0px 65px;
        position: relative;

        &:first-child {
            padding-left: 30px;
        }
        &:last-child {
            padding-right: 30px;
        }
        &:not(:last-child)::before {
            content: "";
            position: absolute;
            right: 0;
            top: 50%;
            transform: translate(50%, -50%);
            width: 1px;
            height: 34px;
            background-color: $textColor;
            opacity: 0.1;

            @media (max-width: 768px) {
                display: none;
            }
        }

        @media (max-width: 900px) {
            padding: 0 40px;
        }
        @media (max-width: 768px) {
            flex: 1 1 auto;
            width: 150px;
            &,
            &:first-child,
            &:last-child {
                padding: 0;
            }
        }
    }

    &__option {
        @extend %text;
        white-space: nowrap;
    }

    &__list {
        padding-right: 20px;
        font-weight: 500;
        font-size: 22px;
        line-height: 33px;
        color: $textColor;
        user-select: none;
        appearance: none;
        background: url("../img/main/arrow.svg") right no-repeat;
        & > option {
            @extend %text;
        }
        &:hover {
            cursor: pointer;
        }
    }

    &__button {
        @extend %button;
    }
}

/* --- PARTNERS --- */
.partners {
    padding: 40px 0px 80px 0px;

    &__title {
        @extend %title;
        text-align: center;
        margin-bottom: 66px;

        @media (max-width: 992px) {
            margin-bottom: 50px;
        }
        @media (max-width: 480px) {
            margin-bottom: 30px;
        }
    }

    &__labels {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        row-gap: 20px;

        @media (max-width: 480px) {
            flex-direction: column;
        }
    }

    &__item {
        padding: 0 30px;
    }
}

/* --- CATALOG --- */
.catalog {
    padding: 40px 0 100px 0;

    @media (max-width: 768px) {
        padding: 40px 0px;
    }

    &__title {
        @extend %title;
        text-align: center;
        margin-bottom: 70px;

        @media (max-width: 992px) {
            margin-bottom: 50px;
        }
        @media (max-width: 480px) {
            margin-bottom: 30px;
        }
    }

    & .slick-slider {
        min-width: 0;
    }

    & .slick-list {
        overflow: hidden;
    }

    & .slick-track {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        overflow: hidden;

        @media (max-width: 550px) {
            justify-content: center;
            align-items: center;
        }
    }

    & .slick-dots {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 20px;
    }

    & .slick-dots li {
        list-style: none;
        margin: 0px 10px;
    }

    & .slick-dots button {
        font-size: 0;
        width: 10px;
        height: 10px;
        background-color: $buttonBackgroundColor;
        border-radius: 50%;
    }

    & .slick-dots li.slick-active button {
        background-color: $hoverColor;
    }
}

.home {
    background: #ffffff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.07);
    border-radius: 10px;
    max-width: 365px;
    margin: 15px 0;
    display: flex;
    flex-direction: column;
    margin: 10px;

    @media (max-width: 550px) {
        max-width: none;
    }

    &__preview {
        margin-bottom: 30px;

        img {
            width: 100%;
        }
    }

    &__content {
        padding: 0 30px 30px 30px;
        display: flex;
        flex-direction: column;
    }

    &__title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;
    }

    &__label {
        @extend %title;
        font-size: 22px;
        padding-right: 5px;
        position: relative;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        
    }

    &__icon {
        color: #bbbbbb;
        transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
        &:hover, &.selected  {
            color: #e61e14;
            transition: all 0.3s ease;
            cursor: pointer;
        }
        &:hover {
            transform: scale(1.3);
            border-radius: 50%;
        }
    }

    &__location {
        @extend %text;
        padding-left: 23px;
        margin-bottom: 20px;
        background: url("../img/catalog/location.svg") left center no-repeat;
    }

    &__facilities {
        display: flex;
        column-gap: 20px;
        margin-bottom: 20px;
    }

    &__comfort {
        padding-left: 20px;
        &:first-child {
            background: url("../img/catalog/bed.svg") left center no-repeat;
        }
        &:nth-last-child(2) {
            background: url("../img/catalog/cafe.svg") left center no-repeat;
        }
        &:last-child {
            background: url("../img/catalog/restroom.svg") left center no-repeat;
        }
    }

    &__actions {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        row-gap: 15px;
        column-gap: 10px;
    }

    &__price {
        font-weight: 600;
        font-size: 22px;
        color: $hoverColor;
    }

    &__button {
        @extend %button;
    }
}

/* --- FEATURED --- */
.featured {
    @extend %sectionPaddingDefault;
    background: $bgColor;

    &__title {
        @extend %title;
        text-transform: capitalize;
        text-align: center;
        margin-bottom: 10px;
    }

    &__subtitle {
        @extend %text;
        text-align: center;
        max-width: 730px;
        margin: 0 auto;
        margin-bottom: 70px;

        @media (max-width: 768px) {
            margin-bottom: 40px;
        }
    }

    &__body {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        align-items: flex-end;
        gap: 33px;

        @media (max-width: 992px) {
            grid-template-columns: repeat(2, 1fr);
        }
        @media (max-width: 620px) {
            grid-template-columns: repeat(1, 1fr);
            row-gap: 30px;
            column-gap: 0px;
        }
    }

    &__properties {
        display: flex;
        flex-direction: column;
        gap: 30px;

        @media (max-width: 992px) {
            &:nth-child(1) {
                grid-column: 1 / span 1;
                order: 1;
            }
            &:nth-child(2) {
                margin: 0px auto;
                grid-column: 1 / span 2;
                order: 3;
            }
            &:nth-child(3) {
                grid-column: 2 / span 1;
                order: 2;
            }
        }

        @media (max-width: 620px) {
            &:nth-child(3) {
                grid-column: 1 / span 2;
                order: 2;
            }
        }
    }

    &__properties-img {
        align-self: center;
        img {
            border-radius: 10px;
            max-width: 100%;
        }
    }
}

.property {
    background-color: #fff;
    padding: 25px;
    border-radius: 10px;

    &__icon {
        margin-bottom: 15px;
    }

    &__title {
        font-weight: 600;
        font-size: 22px;
        line-height: 33px;
        margin-bottom: 10px;
    }

    &__text {
        @extend %text;
    }
}

/* --- FEEDBACK --- */
.feedback {
    @extend %sectionPaddingDefault;

    &__subtitle {
        @extend %text;
        font-weight: 600;
        color: $hoverColor;
        letter-spacing: 0.08em;
        text-transform: uppercase;
        text-align: center;
        margin-bottom: 10px;
    }

    &__title {
        @extend %title;
        text-align: center;
        margin-bottom: 70px;
    }

    &__slide {
        display: flex;
        padding: 0 15px;
    }

    & .slick-slider {
        min-width: 0;
        margin: 0 -15px;
    }

    & .slick-list {
        overflow: hidden;
    }

    & .slick-track {
        display: flex;
        width: 100%;
        overflow: hidden;
    }

    & .slick-dots {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 20px 0px 10px 0;
    }

    & .slick-dots li {
        list-style: none;
        margin: 0px 10px;
    }

    & .slick-dots button {
        font-size: 0;
        width: 10px;
        height: 10px;
        background-color: $buttonBackgroundColor;
        border-radius: 50%;
    }

    & .slick-dots li.slick-active button {
        background-color: $hoverColor;
    }
}

.customer {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    position: relative;
    padding: 30px;
    background: #ffffff;
    border: 2px solid rgba(254, 117, 63, 0.1);
    border-radius: 10px;

    &::before {
        content: "";
        position: absolute;
        right: 30px;
        top: 30px;
        width: 64px;
        height: 64px;
        background: url("../img/feedback/quotes.svg") center no-repeat;
    }

    @media (max-width: 480px) {
        padding: 20px;
        row-gap: 0px;
    }

    &__head {
        display: flex;
        column-gap: 30px;

        @media (max-width: 480px) {
            flex-direction: column;
            margin-bottom: 15px;
        }
    }

    &__avatar {
        width: 74px;
        height: 74px;
        border-radius: 50%;
        img {
            border-radius: 50%;
            width: 74px;
            height: 74px;
        }
    }

    &__info {
        flex: 1 1 auto;
        padding: 5px 0px;
    }

    &__name {
        font-weight: 600;
        font-size: 22px;
        line-height: calc(32 / 22 * 100%);
        margin-bottom: 5px;
    }

    &__position {
        @extend %text;
        height: 48px;

        @media (max-width: 480px) {
            height: auto;
        }
    }

    &__feedback {
        @extend %text;
        white-space: break-word;
    }
}

/* --- SUBSCRIBE --- */
.subscribe {
    @extend %sectionPaddingDefault;

    &__body {
        padding: 70px 20px 70px;
        background-color: $bgColorForm;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;

        @media (max-width: 768px) {
            padding: 40px 20px 40px;
        }

        &::before,
        &::after {
            content: "";
            position: absolute;
            border-radius: 50%;
            width: 208px;
            height: 208px;
            background-color: #fff;
            opacity: 0.1;
        }

        &::before {
            top: 4%;
            left: -12%;
        }

        &::after {
            right: 2%;
            bottom: -35%;
        }
    }

    &__title {
        color: #ffffff;
        font-weight: 500;
        font-size: 44px;
        line-height: 137%;
        margin-bottom: 15px;
        text-align: center;

        @media (max-width: 992px) {
            font-size: 40px;
        }
    }

    &__subtitle {
        @extend %text;
        max-width: 635px;
        color: #ffffff;
        text-align: center;
        margin-bottom: 70px;

        @media (max-width: 480px) {
            margin-bottom: 30px;
        }
    }

    &__form {
        width: 100%;
        max-width: 745px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        position: relative;

        @media (max-width: 768px) {
            display: flex;
            flex-direction: column;
            border-radius: 10px 10px 0px 0px;
        }
    }

    &__input {
        border-radius: 10px;
        width: 100%;
        height: 70px;
        padding: 0 30px;
        font-weight: 14;
        font-size: 16px;
        line-height: calc(24 / 16 * 100%);
        background-color: #fff;
        transition: all 0.3s ease;

        &:focus {
            outline: 1px solid $buttonBackgroundColor;
            box-shadow: 0 0 10px $buttonBackgroundColor;
        }

        @media (max-width: 768px) {
            padding: 0 20px;
            border-radius: 10px 10px 0px 0px;
            height: 55px;
        }
    }

    &__button {
        @extend %button;
        position: absolute;
        right: 7px;

        @media (max-width: 768px) {
            position: static;
            width: 100%;
            border-radius: 0px 0px 10px 10px;
        }
    }
}

/* --- FOOTER --- */
.footer {
    padding: 70px 0;

    @media (max-width: 768px) {
        padding: 20px 0 80px 0;
    }

    &__body {
        display: flex;
        justify-content: space-between;
        column-gap: 180px;

        @media (max-width: 992px) {
            column-gap: 60px;
        }

        @media (max-width: 768px) {
            flex-direction: column;
            row-gap: 30px;
        }
    }

    &__contacts {
        flex: 0 1 270px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;

        @media (max-width: 768px) {
            flex-basis: auto;
            align-items: center;
        }
    }

    &__logo {
        display: inline-block;
        img {
            width: 100%;
            height: 57px;
        }
    }

    &__content {
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }

    &__text {
        margin-bottom: 13px;
        @extend %text;
        opacity: 0.7;

        @media (max-width: 768px) {
            text-align: center;
        }
    }

    &__social {
        display: flex;
        column-gap: 15px;

        @media (max-width: 768px) {
            justify-content: center;
        }
    }

    &__sosial-link {
        a {
            border-radius: 50%;
            width: 30px;
            height: 30px;
            background-color: $hoverColor;
            display: flex;
            justify-content: center;
            align-items: center;
            animation: link 2s ease-in-out infinite;
        }
    }

    &__navigation {
        flex: 1 1 auto;
        display: flex;
        justify-content: space-between;
        column-gap: 15px;

        @media (max-width: 768px) {
            justify-content: inherit;
        }
        @media (max-width: 480px) {
            flex-wrap: wrap;
            justify-content: space-between;
            row-gap: 30px;
        }
    }

    &__title {
        @extend %title;
        font-size: 22px;
        line-height: calc(33 / 22 * 100%);
        margin-bottom: 25px;

        @media (max-width: 768px) {
            margin-bottom: 15px;
        }
    }

    &__list {
        display: flex;
        flex-direction: column;
        row-gap: 15px;
    }

    &__link {
        @extend %text;
        font-weight: 500;
        white-space: nowrap;
        transform: translateX(-0.75em);
        transition: transform 200ms;

        &:hover {
            transform: none;
            &::before {
                opacity: 1;
            }
        }
        &::before {
            content: "";
            display: inline-block;
            width: 0.75em;
            color: #888;
            opacity: 0;
            transition: opacity 200ms;
        }
    }
}
